<div class="card-body">
    <form action="/task/edit/{{task._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT"/>
    <div class="mb-3">
        <label for="task">Task:</label>
        <input
        type="text"
        class="form-control bg-dark text-white"
        name="title"
        placeholder="Task"
        value="{{task.title}}"
        required
        />
    </div>
    
    <button class="btn btn-success btn-block">
    Send
    </button>
    </form>
</div>