<div class="bg-dark text-white mt-4 rounded p-5">
    <h2 class="text-white text-center p-4">About Us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, nam magni dolorum iste earum nihil corrupti hic non inventore aspernatur tempora blanditiis atque. Est blanditiis qui rem nostrum sunt iure!</p>
</div>