<div style="color: red;">Esta es el about de esta pagina</div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus inventore necessitatibus pariatur, et quo doloribus quos consectetur omnis repellendus magni suscipit iusto ea officia aperiam nam sunt nobis. Quos, animi.</div>