<div style="color: blue;">Este es el index</div>
<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex at quia minus veniam quidem voluptate, non iste maiores tempora praesentium explicabo cum aliquam magni id vero optio cupiditate! Distinctio, laboriosam!</h1>