<div class="bg-dark text-white mt-4 rounded p-5">
    <h1 class="text-center text-white">Welcome to the <strong>Task App</strong></h1>
    <div class="container mt-5">
        <div class="jumbotron">
            <h4 class="text-white">Organize Your Day with Our To-Do List</h4>
            <p class="lead">Welcome to the Task App! There's never a bad time to become more organized and efficient in your daily activities. Our app is here to help you manage your tasks effectively, so you can focus on what truly matters.</p>
        </div>
    </div>

<p class="lead">
    <a class="btn btn-primary btn-lg" href="/auth/signin" role="button">Get started</a>
</p>
</div>

