<div>Formulario para registro de user</div>
<div>
    <form action="/auth/signup" method="post">
        <label for="password">Name:</label>
        <input type="text" value="{{password}}" ></input>
    </form>
</div>